*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 1rem;
  margin-right: 5px;
  width: 100vw;
  height: 100vh;
  /* background-image: url('https://tse1.mm.bing.net/th?id=OIP.pJWkRF5H5iDuB5mqrL0cdAHaE7&pid=Api&P=0&h=220');
  background-size: cover; 
  background-position: center;  */
  background-color: rgba(135, 206, 235, 0.8);

  /* Opacity */
  /* opacity: 1;  */

}
.title{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.input-container {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.input-container input {
  padding: 8px;
  border-radius: 6px;
  font-size: large;
  width: 300px;
  border: 1px solid white;
}
.input-container input:focus{
  outline: none;
}
button{
   padding: 10px;
   color: white;
   background-color: rgb(5, 29, 96);
   border: none;
   border-radius: 4px;
   font-size: medium;
}